# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\faculta\lab5x-aegis\SymbolTable\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
